
<h2>Hello, my name is <%= @name %> </h2>
<% if @name.first == "A" || @name.first == "a" %>
<h3>Hey your name begins with the first letter of the alphabet!</h3>
<% else %>
<h3>Get a better name, asshole.</h3>
<% end %>

